<a href="https://colab.research.google.com/github/HSB613/code-practice/blob/main/n111a_EDA(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 1*

---

# üìù Assignment

# **üå± Í∏∞Î≥∏ Í≥ºÏ†ú**

## **Part 1. EDA**

### **1-1. Îç∞Ïù¥ÌÑ∞ÏÖã Î∂àÎü¨Ïò§Í∏∞**

Ïö∞Î¶¨Îäî Ïù¥ Í≥ºÏ†úÎ•º ÌÜµÌï¥ ÏïÑÎûòÏùò urlÏóê Ï°¥Ïû¨ÌïòÎäî Travel.xlsxÎ•º PandasÏùò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Í∞ÄÏ†∏ÏôÄ Îç∞Ïù¥ÌÑ∞ÏóêÏÑú ÏùòÎØ∏Î•º ÎèÑÏ∂úÌïòÍ≥†Ïûê Ìï©ÎãàÎã§. 
- https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx

Ïú†ÏùòÌï¥Ïïº Ìï† Ï†êÏùÄ Îç∞Ïù¥ÌÑ∞Î•º Î∂àÎü¨Ïò¨Îïå, Í∑∏ ÌååÏùºÏùò ÌòïÌÉúÏôÄ Íµ¨Ï°∞Ïóê Îî∞Îùº Ïò¨Î∞îÎ•¥Í≤å Î∂àÎü¨ÏôÄÏïº ÌïúÎã§Îäî Ï†êÏûÖÎãàÎã§. <br> 

Ïö∞ÏÑ†, Ïù¥ ÌååÏùºÏùÄ `.csv` ÌòïÌÉúÍ∞Ä ÏïÑÎãå `.xlsx` ÌååÏùº ÌòïÌÉúÏûÖÎãàÎã§. Í∑∏Îü¨ÎØÄÎ°ú PandasÏùò `read_csv` Î©îÏÑúÎìúÍ∞Ä ÏïÑÎãå `read_excel` Î©îÏÑúÎìúÎ•º ÌôúÏö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏ†∏ÏôÄÏïº Ìï©ÎãàÎã§. ÎòêÌïú, Ïù¥ ÌååÏùºÏùÄ 2Í∞úÏùò ÏãúÌä∏Î°ú Íµ¨ÏÑ±ÎêòÏñ¥ ÏûàÏúºÎ©∞ ÏãúÌä∏Î™ÖÏùÄ Í∞ÅÍ∞Å `008770` , `035250` ÏûÖÎãàÎã§. <br>

ÏïÑÎûòÏóêÎäî Ïù¥ Îç∞Ïù¥ÌÑ∞ÏùÑ Î∂àÎü¨ÏôÄ Ïö∞Î¶¨Í∞Ä Î∂ÑÏÑùÏóê Ïö©Ïù¥Ìïú ÌòïÌÉúÎ°ú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ Í∞ÄÏßÄÍ≥† Ïò§Îäî ÏàúÏÑú ÏûÖÎãàÎã§. ÏïÑÎûòÏùò ÏΩîÎìú ÌåÅÍ≥º ÏûÑÎ≤†ÎìúÎêòÏñ¥ ÏûàÎäî referenceÎ•º ÌôúÏö©ÌïòÏó¨ `008770` ÏãúÌä∏Ïùò Îç∞Ïù¥ÌÑ∞Îäî **df1**ÏúºÎ°ú `035250` ÏãúÌä∏Ïùò Îç∞Ïù¥ÌÑ∞Îäî **df2**Î°ú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ Ï†ÄÏû•ÌïòÎèÑÎ°ù Ìï©ÎãàÎã§. 


<br>

> **üí° Tip**
1. df = pd[.read_excel](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html)(url, sheet_name = 0)
2. df = df[.T](https://pandas.pydata.org/pandas-docs/version/0.25.0/reference/api/pandas.DataFrame.T.html)
3. df_columns = df1[.loc](https://stackoverflow.com/questions/31593201/how-are-iloc-and-loc-different)[0]
4. df[.columns](https://stackoverflow.com/questions/31328861/python-pandas-replacing-header-with-top-row) = df_columns
5. df = df[1:]

##### **Q1. `df1`Ïùò shapeÏùÑ Ïì∞ÏÑ∏Ïöî.**

In [ ]:
import pandas as pd
import numpy as np

from google.colab import files
uploaded = files.upload()

df1 = pd.read_excel("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx", sheet_name = "008770 ")
df1 = df1.T
df1 = df1[1:]

print(df1.shape)

Saving titanic.csv to titanic (1).csv
(8, 32)

##### **Q2. `df2`Ïùò shapeÏùÑ Ïì∞ÏÑ∏Ïöî.**

In [ ]:
import pandas as pd
import numpy as np

from google.colab import files
uploaded = files.upload()

df2 = pd.read_excel("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx", sheet_name = "035250")
df2 = df2.T
df2 = df2[1:]

print(df1.shape)

Saving Travel.xlsx to Travel (9).xlsx
(8, 32)

### **1-2. Í≤∞Ï∏°Ïπò ÌôïÏù∏**

- df1Í≥º df2Ïùò Í≤∞Ï∏°ÏπòÎ•º ÌôïÏù∏ÌïòÏÑ∏Ïöî.
  - Îëê Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùò Í≤∞Ï∏°Ïπò ÌôïÏù∏ ÌõÑ, 
[.fillna()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html) Î©îÏÑúÎìúÎ•º ÌôúÏö©ÌïòÏó¨ Í≤∞Ï∏°ÏπòÎ•º 0ÏúºÎ°ú ÎåÄÏ≤¥ÌïòÏÑ∏Ïöî. <br>
- Í≤∞Ï∏°Ïπò ÎåÄÏ≤¥ ÌõÑÏóê Ï†úÎåÄÎ°ú ÏΩîÎìúÍ∞Ä ÏûëÎèô ÌïòÏòÄÎäîÏßÄ ÌôïÏù∏ÌïòÎèÑÎ°ù Ìï©ÎãàÎã§.

##### **Q3. `df1`Ïùò -1Î≤àÏß∏ columnÏùò Í≤∞Ï∏°ÏπòÎäî Î™®Îëê Î™á Í∞úÏù∏ÏßÄ Íµ¨ÌïòÏÑ∏Ïöî.**

In [ ]:
import pandas as pd
import numpy as np

df1 = pd.read_excel("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx", sheet_name = "008770 ")
df1 = df1.T
df1 = df1[1:]
df1_m1_column = df1.iloc[:,-1]

print(df1_m1_column.isnull().sum())

df1.fillna(0)

4

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
2019/09\n(IFRSÏó∞Í≤∞),14753.0,574.0,574.0,376.0,274.0,277.0,-3.0,37747.0,28854.0,8893.0,...,3.62,324.45,395.10,692.0,31.19,23484.0,3.67,0.0,0,0.00
2019/12\n(IFRSÏó∞Í≤∞),15440.0,776.0,776.0,538.0,380.0,380.0,0.0,35273.0,26077.0,9195.0,...,5.81,283.59,411.78,950.0,21.40,24282.0,3.74,350.0,0,34.94
2020/03\n(IFRSÏó∞Í≤∞),9437.0,-668.0,-668.0,-925.0,-736.0,-736.0,0.0,33188.0,24813.0,8375.0,...,1.25,296.28,368.36,-1839.0,63.76,22114.0,3.19,0.0,0,0.00
2020/06\n(IFRSÏó∞Í≤∞),5230.0,-634.0,-634.0,-819.0,-677.0,-678.0,1.0,33039.0,25364.0,7676.0,...,-2.14,330.45,334.46,-1695.0,0.00,20265.0,3.50,0.0,0,0.00
2020/09\n(IFRSÏó∞Í≤∞),8795.0,-198.0,-198.0,-366.0,-285.0,-285.0,0.0,32683.0,25318.0,7365.0,...,-3.74,343.77,320.21,-712.0,0.00,19444.0,3.91,0.0,0,0.00
2020/12(E)\n(IFRSÏó∞Í≤∞),9980.0,50.0,0.0,-109.0,-100.0,-100.0,0.0,32388.0,25171.0,7216.0,...,0.00,348.79,0.00,-251.0,0.00,19187.0,4.22,0.0,0,0.00
2021/03(E)\n(IFRSÏó∞Í≤∞),9761.0,144.0,0.0,14.0,71.0,53.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,133.0,0.00,0.0,0.00,0.0,0,0.00
2021/06(E)\n(IFRSÏó∞Í≤∞),9820.0,265.0,0.0,172.0,214.0,123.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,308.0,0.00,0.0,0.00,0.0,0,0.00

##### **Q4. `df2`Ïùò -1Î≤àÏß∏ columnÏùò Í≤∞Ï∏°ÏπòÎäî Î™®Îëê Î™á Í∞úÏù∏ÏßÄ Íµ¨ÌïòÏÑ∏Ïöî.**

In [ ]:
import pandas as pd
import numpy as np

from google.colab import files
uploaded = files.upload()

df2 = pd.read_excel("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx", sheet_name = "035250")
df2 = df2.T
df2 = df2[1:]
df2_m1_column = df2.iloc[:,-1]

print(df2_m1_column.isnull().sum())

df2.fillna(0)

Saving Travel.xlsx to Travel (18).xlsx

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
2019/09\n(IFRSÏó∞Í≤∞),4055.0,1392.0,1392.0,1554.0,1286.0,1286.0,0.0,41698.0,4781.0,36917.0,...,7.20,12.95,3513.86,601.0,21.00,18209.0,1.62,0.0,0,0.00
2019/12\n(IFRSÏó∞Í≤∞),3728.0,641.0,641.0,769.0,526.0,526.0,0.0,44381.0,7204.0,37178.0,...,7.72,19.38,3538.24,246.0,18.92,18337.0,1.61,900.0,0,346.75
2020/03\n(IFRSÏó∞Í≤∞),2360.0,-1868.0,-1868.0,-2204.0,-1561.0,-1561.0,0.0,43702.0,9945.0,33757.0,...,1.75,29.46,3218.48,-730.0,55.53,16650.0,1.19,0.0,0,0.00
2020/06\n(IFRSÏó∞Í≤∞),346.0,-1038.0,-1038.0,-723.0,-456.0,-456.0,0.0,39178.0,5900.0,33277.0,...,-0.50,17.73,3173.64,-213.0,0.00,16414.0,1.31,0.0,0,0.00
2020/09\n(IFRSÏó∞Í≤∞),766.0,-649.0,-649.0,-552.0,-409.0,-409.0,0.0,37434.0,4560.0,32875.0,...,-4.80,13.87,3136.00,-191.0,0.00,16215.0,1.33,0.0,0,0.00
2020/12(E)\n(IFRSÏó∞Í≤∞),1581.0,-434.0,0.0,-331.0,-465.0,-314.0,0.0,38271.0,5998.0,32274.0,...,0.00,18.58,0.00,-147.0,0.00,15888.0,1.46,0.0,0,0.00
2021/03(E)\n(IFRSÏó∞Í≤∞),1473.0,-187.0,0.0,0.0,0.0,-33.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,-15.0,0.00,0.0,0.00,0.0,0,0.00
2021/06(E)\n(IFRSÏó∞Í≤∞),1746.0,-65.0,0.0,0.0,0.0,135.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,63.0,0.00,0.0,0.00,0.0,0,0.00

### **1-3. GitHub Pull Request**

> ÏïÑÎûò **`ü•á ÎèÑÏ†ÑÍ≥ºÏ†ú`**Î•º ÌíÄ Í≤ΩÏö∞, ÎèÑÏ†ÑÍ≥ºÏ†úÍπåÏßÄ Î™®Îëê ÎßàÏπú ÌõÑ Ïù¥ Î¨∏Ìï≠ÏùÑ ÎßàÏßÄÎßâÏóê ÏàòÌñâÌï©ÎãàÎã§. 

- Îã§Ïùå ÎßÅÌÅ¨Î•º ÌÜµÌï¥ chromeÏóê **`open in colab`**ÏùÑ ÏÑ§ÏπòÌï©ÎãàÎã§. <br>
  https://chrome.google.com/webstore/detail/open-in-colab/iogfkhleblhcpcekbiedikdehleodpjo
- colabÏóêÏÑú **`ÎèÑÍµ¨`** > **`ÏÑ§Ï†ï`** > **`GitHub`** ÏúºÎ°ú Ïù¥ÎèôÌï¥ **`ÎπÑÍ≥µÍ∞ú Ï†ÄÏû•ÏÜå Î∞è Ï°∞ÏßÅÏóê Ïï°ÏÑ∏Ïä§`**Ïóê Ï≤¥ÌÅ¨Ìï©ÎãàÎã§. <br>
  https://colab.research.google.com/
- Ïú†Ïñ¥ÌÅ¥ÎûòÏä§Ïùò **`[AIB] Archives`** > **`AI Î∂ÄÌä∏Ï∫†ÌîÑ DOCs`** > **`1. Colab ÏùÑ ÌÜµÌïú Pull Request Í≥ºÏ†úÏ†úÏ∂ú`**ÏùÑ Ï∞∏Í≥†ÌïòÏó¨ ÍπÉÌóôÏóê n111aÎ•º PRÌï©ÎãàÎã§. <br>
  https://urclass.codestates.com/15778a1d-3915-433e-9952-45fbabb4a933?playlist=439
- **`Î≥ÄÍ≤ΩÏÇ¨Ìï≠ ÏÑ§Î™Ö Î©îÏÑ∏ÏßÄ`**ÏóêÎäî **`[n111a] 1Ï∞® Ï†úÏ∂ú`** Ïù¥ÎùºÍ≥† ÏîÅÎãàÎã§.

# **ü•á ÎèÑÏ†Ñ Í≥ºÏ†ú**

## **Part 2. Missing Value**

##### **ÏûêÏÇ∞Ï¥ùÍ≥ÑÏùò Í≤∞Ï∏°ÏπòÎ•º Ï≤òÎ¶¨ÌïòÏÑ∏Ïöî.**
ÏïûÏÑ† Î¨∏Ï†úÏóêÏÑúÎäî Í≤∞Ï∏°ÏπòÎ•º Îã®ÏàúÌûà 0ÏúºÎ°ú Ï≤òÎ¶¨ÌïòÏòÄÏúºÎÇò, Í≤∞Ï∏°ÏπòÎ•º Ï≤òÎ¶¨ÌïòÎäî Î∞©Î≤ïÏùÄ Í∑∏ Ïô∏ÏóêÎèÑ Ïó¨Îü¨Í∞ÄÏßÄÍ∞Ä ÏûàÏäµÎãàÎã§. <br>
Îã§ÏñëÌïú imputation Î∞©Î≤ïÏóê ÎåÄÌï¥ ÏïåÏïÑÎ≥¥Í≥†, Í∑∏ Ï§ë mean imputation Î∞©Î≤ïÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ `ÏûêÏÇ∞Ï¥ùÍ≥Ñ`Ïùò Í≤∞Ï∏°ÏπòÎ•º Ï≤òÎ¶¨Ìï¥Î≥¥ÏÑ∏Ïöî.

In [ ]:
import pandas as pd
import numpy as np

df1 = pd.read_excel("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx", sheet_name = "008770 ")
df2 = pd.read_excel("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/Travel.xlsx", sheet_name = "035250")

df1 = df1.set_index('Ï£ºÏöîÏû¨Î¨¥Ï†ïÎ≥¥')
df1 = df1.T
df1 = df1[1:]

df2 = df2.set_index('Ï£ºÏöîÏû¨Î¨¥Ï†ïÎ≥¥')
df2 = df2.T
df2 = df2[1:]

final_df1 = df1.fillna(df1.mean())
final_df2 = df2.fillna(df1.mean())

final_df1.isnull().sum()

Ï£ºÏöîÏû¨Î¨¥Ï†ïÎ≥¥
Îß§Ï∂úÏï°           0
ÏòÅÏóÖÏù¥Ïùµ          0
ÏòÅÏóÖÏù¥Ïùµ(Î∞úÌëúÍ∏∞Ï§Ä)    0
ÏÑ∏Ï†ÑÍ≥ÑÏÜçÏÇ¨ÏóÖÏù¥Ïùµ      0
ÎãπÍ∏∞ÏàúÏù¥Ïùµ         0
ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÏßÄÎ∞∞)     0
ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÎπÑÏßÄÎ∞∞)    0
ÏûêÏÇ∞Ï¥ùÍ≥Ñ          0
Î∂ÄÏ±ÑÏ¥ùÍ≥Ñ          0
ÏûêÎ≥∏Ï¥ùÍ≥Ñ          0
ÏûêÎ≥∏Ï¥ùÍ≥Ñ(ÏßÄÎ∞∞)      0
ÏûêÎ≥∏Ï¥ùÍ≥Ñ(ÎπÑÏßÄÎ∞∞)     0
ÏûêÎ≥∏Í∏à           0
ÏòÅÏóÖÌôúÎèôÌòÑÍ∏àÌùêÎ¶Ñ      0
Ìà¨ÏûêÌôúÎèôÌòÑÍ∏àÌùêÎ¶Ñ      0
Ïû¨Î¨¥ÌôúÎèôÌòÑÍ∏àÌùêÎ¶Ñ      0
CAPEX         0
FCF           0
Ïù¥ÏûêÎ∞úÏÉùÎ∂ÄÏ±Ñ        0
ÏòÅÏóÖÏù¥ÏùµÎ•†         0
ÏàúÏù¥ÏùµÎ•†          0
ROE(%)        0
ROA(%)        0
Î∂ÄÏ±ÑÎπÑÏú®          0
ÏûêÎ≥∏Ïú†Î≥¥Ïú®         0
EPS(Ïõê)        0
PER(Î∞∞)        0
BPS(Ïõê)        0
PBR(Î∞∞)        0
ÌòÑÍ∏àDPS(Ïõê)      0
ÌòÑÍ∏àÎ∞∞ÎãπÏàòÏùµÎ•†       7
ÌòÑÍ∏àÎ∞∞ÎãπÏÑ±Ìñ•(%)     0
dtype: int64

## **Part 3.Feature Engineering**

##### **`Î∂ÄÏ±Ñ ÎπÑÏú® 2` ÎùºÎäî ÏÉàÎ°úÏö¥ ÌîºÏ≥êÎ•º ÏÉùÏÑ±ÌïòÏÑ∏Ïöî.**

> Î∂ÄÏ±Ñ ÎπÑÏú®(%) = (Î∂ÄÏ±ÑÏ¥ùÏï° / ÏûêÎ≥∏Ï¥ùÏï°) x 100

ÏúÑÏùò Í≥µÏãùÏùÑ ÌôúÏö©ÌïòÏó¨ `Î∂ÄÏ±Ñ ÎπÑÏú® 2` ÎùºÎäî columnÏùÑ ÏÉùÏÑ±Ìï©ÎãàÎã§. Í∑∏Î¶¨Í≥†, ÏÉùÏÑ±Ìïú columnÍ≥º Í∏∞Ï°¥ `Î∂ÄÏ±Ñ ÎπÑÏú®` columnÏùò Í∞íÏù¥ ÎèôÏùºÌïúÏßÄ ÌôïÏù∏Ìï¥Î¥ÖÎãàÎã§.

In [ ]:
final_df1['Î∂ÄÏ±Ñ ÎπÑÏú®']= final_df1['Î∂ÄÏ±ÑÏ¥ùÍ≥Ñ'] / final_df1['ÏûêÎ≥∏Ï¥ùÍ≥Ñ'] * 100

final_df1.sample(3)

Ï£ºÏöîÏû¨Î¨¥Ï†ïÎ≥¥,Îß§Ï∂úÏï°,ÏòÅÏóÖÏù¥Ïùµ,ÏòÅÏóÖÏù¥Ïùµ(Î∞úÌëúÍ∏∞Ï§Ä),ÏÑ∏Ï†ÑÍ≥ÑÏÜçÏÇ¨ÏóÖÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÏßÄÎ∞∞),ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÎπÑÏßÄÎ∞∞),ÏûêÏÇ∞Ï¥ùÍ≥Ñ,Î∂ÄÏ±ÑÏ¥ùÍ≥Ñ,ÏûêÎ≥∏Ï¥ùÍ≥Ñ,...,Î∂ÄÏ±ÑÎπÑÏú®,ÏûêÎ≥∏Ïú†Î≥¥Ïú®,EPS(Ïõê),PER(Î∞∞),BPS(Ïõê),PBR(Î∞∞),ÌòÑÍ∏àDPS(Ïõê),ÌòÑÍ∏àÎ∞∞ÎãπÏàòÏùµÎ•†,ÌòÑÍ∏àÎ∞∞ÎãπÏÑ±Ìñ•(%),Î∂ÄÏ±Ñ ÎπÑÏú®
2021/03(E)\n(IFRSÏó∞Í≤∞),9761.0,144.0,-181.0,14.0,71.0,53.0,0.25,33314.2,25348.6,7965.4,...,320.576,358.7025,133.0,42.58,21058.4,3.712,350.0,NaN,11.646667,318.233861
2021/06(E)\n(IFRSÏó∞Í≤∞),9820.0,265.0,-181.0,172.0,214.0,123.0,0.25,33314.2,25348.6,7965.4,...,320.576,358.7025,308.0,42.58,21058.4,3.712,350.0,NaN,11.646667,318.233861
2020/06\n(IFRSÏó∞Í≤∞),5230.0,-634.0,-634.0,-819.0,-677.0,-678.0,1.00,33039.0,25364.0,7676.0,...,330.450,334.4600,-1695.0,42.58,20265.0,3.500,350.0,NaN,0.000000,330.432517

##### **`Ï¢ÖÎ™©` Ïù¥ÎùºÎäî ÏÉàÎ°úÏö¥ ÌîºÏ≥êÎ•º ÏÉùÏÑ±ÌïòÏÑ∏Ïöî.**

**`.repeat()`**Î•º ÌôúÏö©ÌïòÏó¨ ÏÉàÎ°úÏö¥ `Ï¢ÖÎ™©`Ïù¥ÎùºÎäî ÏÉàÎ°úÏö¥ columnÏùÑ ÏÉùÏÑ±Ìï©ÎãàÎã§.
  - `df1`Ïùò `Ï¢ÖÎ™©` columnÏóêÎäî `008770` Î¨∏ÏûêÏó¥Ïù¥ Îã¥Í∏∞ÎèÑÎ°ù Ìï©ÎãàÎã§.  
  - `df2`Ïùò `Ï¢ÖÎ™©` columnÏóêÎäî `035250` Î¨∏ÏûêÏó¥Ïù¥ Îã¥Í∏∞ÎèÑÎ°ù Ìï©ÎãàÎã§. 

Í∞ÅÍ∞ÅÏùò Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏóê `Ï¢ÖÎ™©`Ïù¥ÎùºÎäî columnÏùÑ ÎßåÎì† ÌõÑ, ÏµúÏ¢ÖÏ†ÅÏúºÎ°ú Îëê Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ `df1`Í≥º `df2`Î•º **`.append()`**Î•º ÌôúÏö©ÌïòÏó¨ Ìï©Ï≥êÏ£ºÎèÑÎ°ù Ìï©ÎãàÎã§.

In [ ]:
final_df1['Ï¢ÖÎ™©'] = np.repeat('008770', len(final_df1))
final_df2['Ï¢ÖÎ™©'] = np.repeat('035250', len(final_df2))

add_df = final_df1.append(final_df2, ignore_index = True)

add_df.head(10)

Ï£ºÏöîÏû¨Î¨¥Ï†ïÎ≥¥,Îß§Ï∂úÏï°,ÏòÅÏóÖÏù¥Ïùµ,ÏòÅÏóÖÏù¥Ïùµ(Î∞úÌëúÍ∏∞Ï§Ä),ÏÑ∏Ï†ÑÍ≥ÑÏÜçÏÇ¨ÏóÖÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ,ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÏßÄÎ∞∞),ÎãπÍ∏∞ÏàúÏù¥Ïùµ(ÎπÑÏßÄÎ∞∞),ÏûêÏÇ∞Ï¥ùÍ≥Ñ,Î∂ÄÏ±ÑÏ¥ùÍ≥Ñ,ÏûêÎ≥∏Ï¥ùÍ≥Ñ,...,ÏûêÎ≥∏Ïú†Î≥¥Ïú®,EPS(Ïõê),PER(Î∞∞),BPS(Ïõê),PBR(Î∞∞),ÌòÑÍ∏àDPS(Ïõê),ÌòÑÍ∏àÎ∞∞ÎãπÏàòÏùµÎ•†,ÌòÑÍ∏àÎ∞∞ÎãπÏÑ±Ìñ•(%),Î∂ÄÏ±Ñ ÎπÑÏú®,Ï¢ÖÎ™©
0,15440.0,776.0,776.0,538.0,380.0,380.0,0.00,35273.0,26077.0,9195.0,...,411.7800,950.0,21.40,24282.0,3.740,350.0,NaN,34.940000,283.599782,008770
1,9437.0,-668.0,-668.0,-925.0,-736.0,-736.0,0.00,33188.0,24813.0,8375.0,...,368.3600,-1839.0,63.76,22114.0,3.190,350.0,NaN,0.000000,296.274627,008770
2,5230.0,-634.0,-634.0,-819.0,-677.0,-678.0,1.00,33039.0,25364.0,7676.0,...,334.4600,-1695.0,42.58,20265.0,3.500,350.0,NaN,0.000000,330.432517,008770
3,8795.0,-198.0,-198.0,-366.0,-285.0,-285.0,0.00,32683.0,25318.0,7365.0,...,320.2100,-712.0,42.58,19444.0,3.910,350.0,NaN,11.646667,343.761032,008770
4,9980.0,50.0,-181.0,-109.0,-100.0,-100.0,0.25,32388.0,25171.0,7216.0,...,358.7025,-251.0,42.58,19187.0,4.220,350.0,NaN,11.646667,348.822062,008770
5,9761.0,144.0,-181.0,14.0,71.0,53.0,0.25,33314.2,25348.6,7965.4,...,358.7025,133.0,42.58,21058.4,3.712,350.0,NaN,11.646667,318.233861,008770
6,9820.0,265.0,-181.0,172.0,214.0,123.0,0.25,33314.2,25348.6,7965.4,...,358.7025,308.0,42.58,21058.4,3.712,350.0,NaN,11.646667,318.233861,008770
7,3728.0,641.0,641.0,769.0,526.0,526.0,0.00,44381.0,7204.0,37178.0,...,3538.2400,246.0,18.92,18337.0,1.610,900.0,NaN,346.750000,NaN,035250
8,2360.0,-1868.0,-1868.0,-2204.0,-1561.0,-1561.0,0.00,43702.0,9945.0,33757.0,...,3218.4800,-730.0,55.53,16650.0,1.190,350.0,NaN,11.646667,NaN,035250
9,346.0,-1038.0,-1038.0,-723.0,-456.0,-456.0,0.00,39178.0,5900.0,33277.0,...,3173.6400,-213.0,42.58,16414.0,1.310,350.0,NaN,0.000000,NaN,035250